body{
    background-color: rgb(0, 24, 10);
}

h1{
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria-de-fotos{
    column-count: 4;
    column-gap: 10px;
}

img{
    width: 100%;
    border-radius: 5px;
    margin: 2px;
    opacity: .6;
}

img:hover{
    outline: 2px solid white;
    opacity: 1;
}

footer{
    background-color: rgb(11, 11, 11);
    text-align: center;
    color: white;
    margin: 40px 0;
    padding: 30px;
}